@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .Profile { 
    width: 800px;
    height: 530px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    
  }
  
  .Profile-Light {
    background: linear-gradient(45deg, #575757, #686868, #575757, #686868);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: rgb(0, 0, 0);
  }
  
  .Profile-Dark {
    background: linear-gradient(45deg, #373737, #535353, #373737, #535353);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: white;
  }

.Profile-Title {
    display: flex;
    align-items: flex-end; 
  }
  
.Profile_img {
    margin-right: 10px; 
    max-width: 300px; 
    max-height: 200px; 
    border-radius: 28px;
  }
  
.Profile-Title h1 {
    font-size: 50px;
    margin: 0px;
    color: #FFFFFF;
}

.Profile-Container{
    font-size: 30px;
    color: #f0eaea;
    max-width: 1100px;
}
.Profile-Container b{
    font-size: 37px;
    color: #ffffff;
}
/* @media (max-width: 1280px) {
  .Profile{
    width: 64%;
    height: 500px;
  }
  .Profile_img {
    max-width: 350px; 
    max-height: 200px; 
  }
  .Profile-Title h1 {
    font-size: 45px;
  }
  .Profile-Container{
  font-size: 28px;
  }
  .Profile-Container b{
    font-size: 32px;
  }
} */

@media (max-width: 1040px) {
  .Profile{
    width: 90%;
    height: 350px;
  }
  .Profile_img {
    max-width: 350px; 
    max-height: 160px; 
  }
  .Profile-Title h1 {
    font-size: 40px;
  }
  .Profile-Container{
  font-size: 25px;
  }
  .Profile-Container b{
    font-size: 30px;
  }
}

@media (max-width: 860px) {
  .Profile{
    width: 90%;
    height: 350px;
  }
  .Profile_img {
    max-width: 350px; 
    max-height: 140px; 
  }
  .Profile-Title h1 {
    font-size: 37px;
  }
  .Profile-Container{
  font-size: 22px;
  }
  .Profile-Container b{
    font-size: 28px;
  }
}
@media (max-width: 620px) {
  .Profile_img {
    max-width: 340px; 
    max-height: 130px; 
  }
  .Profile-Title h1 {
    font-size: 35px;
  }
  .Profile-Container{
  font-size: 20px;
  }
  .Profile-Container b{
    font-size: 26px;
  }
}

@media (max-width: 480px) {

  .Profile_img {
    max-width: 230px; 
    max-height: 150px; 
  }
  .Profile-Title h1 {
    font-size: 33px;
  }
  .Profile-Container{
  font-size: 17px;
  }
  .Profile-Container b{
    font-size: 20px;
  }
}



@media (max-width: 360px) {

  .Profile_img {
    max-width: 200px; 
    max-height: 130px; 
  }
  .Profile-Title h1 {
    font-size: 30px;
  }
  .Profile-Container{
  font-size: 16px;
  }
  .Profile-Container b{
    font-size: 20px;
  }
}


