@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .Profile { 
    width: 720px;
    height: 420px;
    border-radius: 20px;
    padding: 15px;

  }
  
  .Profile-Light {
    background: linear-gradient(45deg, #575757, #686868, #575757, #686868);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: rgb(0, 0, 0);
  }
  
  .Profile-Dark {
    background: linear-gradient(45deg, #373737, #535353, #373737, #535353);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: white;
  }

.Profile-Title {
    display: flex;
    align-items: flex-end; 
  }
  
.Profile_img {
    margin-right: 10px; 
    max-width: 280px; 
    max-height: 190px; 
    border-radius: 28px;
  }
  
.Profile-Title h1 {
    font-size: 40px;
    margin: 0px;
    color: #FFFFFF;
}

.Profile-Container{
    font-size: 20px;
    color: #f0eaea;
    max-width: 500px;
}
.Profile-Container b{
    font-size: 27px;
    color: #ffffff;
}


@media (max-width: 768px) {
  .Profile {
    width: calc(100% - 30px); 
    height: calc(100% - 30px); 
    max-width: 100%;
    padding: 15px; 
  }
}

@media (max-width: 375px) {
  .Profile {
    width: calc(100% - 70px); 
    max-width: 100%;
    padding: 15px; 

  }

  .Profile-Title h1 {
    font-size: 25px;
    margin: 0px;
    color: #FFFFFF;
}
}

