@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .Profile { 
    
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .Profile-Light {
    background: linear-gradient(45deg, #575757, #686868, #575757, #686868);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: rgb(0, 0, 0);
  }
  
  .Profile-Dark {
    background: linear-gradient(45deg, #373737, #535353, #373737, #535353);
    background-size: 600% 600%;
    animation: gradientAnimation 9s ease infinite;
    color: white;
  }

.Profile-Title {
    display: flex;
    align-items: flex-end; 
  }
  
.Profile_img {
    margin-right: 10px; 
    max-width: 300px; 
    max-height: 200px; 
    border-radius: 28px;
  }
  
.Profile-Title h1 {
    font-size: 50px;
    margin: 0px;
    color: #FFFFFF;
}

.Profile-Container{
    font-size: 30px;
    color: #f0eaea;
    max-width: 1100px;
}
.Profile-Container b{
    font-size: 37px;
    color: #ffffff;
}
@media (max-width: 1300px) {
  .Profile{
    width: 75%;
    height: 535px;

  }

  .Profile_img {
    max-width: 330px; 
    max-height: 230px; 
  }
  .Profile-Title h1 {
    font-size: 60px;
  }
  .Profile-Container{
  font-size: 27px;
  }
  .Profile-Container b{
    font-size: 40px;
  }
} 

@media (max-width: 992px) {
  .Profile{
    width: 90%;
    height: 80%
  }
  .Profile_img {
    max-width: 300px; 
    max-height: 200px; 
  }
  .Profile-Title h1 {
    font-size: 45px;
  }
  .Profile-Container{
  font-size: 25px;
  }
  .Profile-Container b{
    font-size: 33px;
  }
}



@media (max-width: 480px) {
  .Profile{
    width: 80%;
    height: 80%
  }
  .Profile_img {
    max-width: 250px; 
    max-height: 150px; 
  }
  .Profile-Title h1 {
    font-size: 33px;
  }
  .Profile-Container{
  font-size: 20px;
  }
  .Profile-Container b{
    font-size: 23px;
  }
}




