.Linkedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .Linkedin-Dark{
    background-color: #2773BA;
  }
  .Linkedin-Light{
    background-color: #2a79c4;

  }
  .Linkedin:hover {
    transform: scale(1.1);
  }
  
  .iconUrl {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    width: 8%;
    height: 9%;
    align-self: flex-end;
    transition: transform 0.3s ease-in-out;
  }
  
  .LinkedinIcon {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease-in-out;
  }
  .iconUrl:hover {
    transform: scale(1.1);
  }


