.AgeDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.AgeDisplay p {
    font-size: 25px;
    margin: 0px 0; 
}

.AgeDisplay h3 {
    font-size: 70px;
    margin: 0px 0; 
}


.AgeDisplay-Dark {
    background-color: #651c9c;
    color: white;
}

.AgeDisplay-Light {
    background-color: #7932af; 
    color: white;

}


@media (max-width: 992px) {
    .AgeDisplay p {
        font-size: 23px;
    }
    
    .AgeDisplay h3 {
        font-size: 60px;
    }
    
}

@media (max-width: 768px) {
    .AgeDisplay p {
        font-size: 30px;
    }
    
    .AgeDisplay h3 {
        font-size: 60px;
    }
    
}

@media (max-width: 576px) {
    .AgeDisplay p {
        font-size: 20px;
    }
    
    .AgeDisplay h3 {
        font-size: 50px;
    }
    
}


@media (max-width: 490px) {
    .AgeDisplay p {
        font-size: 15px;
    }
    
    .AgeDisplay h3 {
        font-size: 30px;
    }
    
}

@media (max-width: 360px) {
    .AgeDisplay p {
        font-size: 15px;
    }
    
    .AgeDisplay h3 {
        font-size: 30px;
    }
    
}
  
  