.Card-Width {
    width: 240px;
    height: 200px;
    margin: 0 auto; 
}

@media (max-width: 1040px) {
    .Card-Width {
        width: 80%;
        height: 180px;
    }
}

@media (max-width: 992px) {
    .Card-Width {
        width: 70%;
        height: 170px;
    }
}

@media (max-width: 768px) {
    .Card-Width {
        width: 60%;
        height: 160px;
    }
}

@media (max-width: 576px) {
    .Card-Width {
        width: 50%;
        height: 150px;
    }
}


@media (max-width: 480px) {
    .Card-Width {
        width: 40%;
        height: 140px;

    }
}

@media (max-width: 360px) {
    .Card-Width {
        width: 30%;
        height: 130px;

    }
}