.Card-Width {
    width: 250px;
    height: 200px;
    margin: 10px; 
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
  ::-webkit-scrollbar-corner {
    background: #f1f1f1; 
  }
  





/* @media (max-width: 1280px) {
    .Card-Width {
        width: 30%;
        height: 180px;
    }
} */


@media (max-width: 1040px) {
    .Card-Width {
        width: 70%;
        height: 180px;
    }
}

@media (max-width: 768px) {
    .Card-Width {
        width: 60%;
        height: 160px;
    }
}

@media (max-width: 576px) {
    .Card-Width {
        width: 50%;
        height: 150px;
    }
}


@media (max-width: 480px) {
    .Card-Width {
        width: 40%;
        height: 140px;
        margin: 5px;

    }
}

@media (max-width: 360px) {
    .Card-Width {
        width: 35%;
        height: 130px;

    }
}