.Experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
}
.Experience p {
    margin: 0px 0; 
}


.Experience-Dark {
    background-color: #855749;
    color: white;
}

.Experience-Light {
    background-color: #a36b59; 
    color: white;

}
