.ThemeToggle {
    border-radius: 20px;
    width: 200px;
    height: 220px;  
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    position: relative;
    padding: 10px;
    margin-top: 45px;

}

  
  .ThemeToggle-Light {
    background: linear-gradient(45deg, #636363, #7e7e7e, #636363, #7e7e7e);
    color: #000;
  }
  
  .ThemeToggle-Dark {
    background: linear-gradient(45deg, #4d4d4d, #5e5d5d, #4d4d4d, #5e5d5d);
    color: #fff;
  }
  

.button-container {
    padding-left: 5px;
    width: 150px; 
    height: 60px; 
    background-color: white; 
    border-radius: 50px; 
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-button {
    background-color: #6c757d;
    border: none;
    border-radius: 50%; 
    width: 45px; 
    height: 45px;
    color: white;
    cursor: pointer;
    position: absolute;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.move-right {
    transform: translateX(calc(100% + 55px)); 
}

@media (max-width: 1300px) {
    .ThemeToggle{
      width: 200px;
      height: 220px;
      margin-top: 90px;
    }

  }

@media (max-width: 1040px){
    .ThemeToggle {
        width: 300px;
        margin-top: 0px;
   
    }
    .button-container{
        width: 190px; 
        height: 80px; 
       
    }

    .toggle-button { 
        width: 60px; 
        height: 60px;
    }
    .move-right {
        transform: translateX(calc(100% + 65px));   
    }
}

@media (max-width: 992px) {
    .ThemeToggle{
        width: 230px ;
    }
  }

  @media (max-width: 510px) {
    .ThemeToggle {
        width: 150px ;
    }
    .button-container{
        width: 150px; 
        height: 70px; 
       
    }

    .toggle-button { 
        width: 45px; 
        height: 45px;
    }
    .move-right {
        transform: translateX(calc(100% + 50px));   
    }
}

@media (max-width: 480px) { 
    .ThemeToggle {
        width: 100px ;
    }
    .button-container{
        width: 100px; 
        height: 50px; 
       
    }
    .toggle-button { 
        width: 35px; 
        height: 35px;
    }
    .move-right {
        transform: translateX(calc(100% + 25px));   
    }
  }
