.LanguageToggle {
    border-radius: 20px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .LanguageToggle-Light {
    background: linear-gradient(45deg, #636363, #7e7e7e, #636363, #7e7e7e);
    color: white;
  }
  
  .LanguageToggle-Dark {
    background: linear-gradient(45deg, #4d4d4d, #5e5d5d, #4d4d4d, #5e5d5d);

    color: white;
  }
  
  .LanguageToggle h1 {
    margin: 0px;
    font-size: 60px;
  }
  
  .LanguageToggle-Container {
    display: flex;
  }
  
  .LanguageToggle-Container h3 {
    margin: 5px;
  }
  