.LanguageToggle {
    border-radius: 20px;
    width: 200px;
    height: 220px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
  }
  
  .LanguageToggle-Light {
    background: linear-gradient(45deg, #636363, #7e7e7e, #636363, #7e7e7e);
    color: white;
  }
  
  .LanguageToggle-Dark {
    background: linear-gradient(45deg, #4d4d4d, #5e5d5d, #4d4d4d, #5e5d5d);

    color: white;
  }
  
  .LanguageToggle h1 {
    margin: 0px;
    font-size: 90px;
  }
  
  .LanguageToggle-Container {
    display: flex;
  }
  
  .LanguageToggle-Container h3 {
    margin: 5px;
    font-size: 30px;
  }

  @media (max-width: 1040px){
    .LanguageToggle {
      width: 280px;
      height: 200px;  

    }
    .LanguageToggle h1 {
      font-size: 120px;
    }
    .LanguageToggle-Container h3 {
      font-size: 40px;    
    }
}
@media (max-width: 992px) {
  .LanguageToggle{
      width: 200px ;
      margin-right: 10px;
  }
}
@media (max-width: 510px) {
    .LanguageToggle{
        width: 150px ;
        margin-right: 10px;
    }
    .LanguageToggle h1 {
      font-size: 100px;
    }
    .LanguageToggle-Container h3 {
      font-size: 30px;    
    }
  }

  @media (max-width: 480px) { 
    .LanguageToggle{
      width: 130px;
      height: 100px;  

      margin-right: 10px;
  }
  .LanguageToggle h1 {
    font-size: 50px;
  }
  .LanguageToggle-Container h3 {
    font-size: 20px;    
  }
  }


