.Email {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
}


.Email:hover{
    transform: scale(1.1);
}

.Email-Dark{
    background-color: #c5ac21;
}

.Email-Light{
    background-color: #ddc643;
}


.EmailImage{
    width: 80%;
    height: 70%;
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 1040px){
    
    .EmailImage{
        width: 70%;
        height: 60%;    }

}