.ProjectsPage_Title {
    padding: 10px 20px; /* Padding horizontal para separar imagen del texto */
    width: 910px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    position: relative;
    justify-content: center;
}
.ProjectsPage_Title-Dark{
    background-color: #a30ab8d8;

}
.ProjectsPage_Title-Light{
    background-color: #c647d6d8;

}
.ProjectsPage h1 {
    color: white;
    font-size: 4rem; /* Tamaño base, ajustable */
    font-family: 'Patrick Hand', cursive;
}

.Image_Return {
    width: 150px;
    height: 150px;
    background-image: url('../../Download/Images/Flecha.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 10px
  
}

.Image_Return:hover {
    background-image: url('../../Download/Images/Flecha_Llena.png');
}



.Proyects-Container {
    display: flex;
}

@media (max-width: 940px) {
    .ProjectsPage_Title {
        width: 98%;
    }


}

@media (max-width: 823px) {
    .ProjectsPage_Title {
        width: 98%;
    }

    .ProjectsPage h1 {
        font-size: 3.5rem; /* Ajuste porcentual */
    }

    .Image_Return {
        width: 100px;
        height: 100px;
        top: 30px
    }
}

@media (max-width: 766px) {
    .ProjectsPage_Title {
        width: 100%;
         
    }


    .Proyects-Container {
        flex-direction: column;
        align-items: center;
    }
    .Image_Return {
        top: 0px;
        
    }
}

@media (max-width: 560px) {


    .ProjectsPage h1 {
        font-size: 3rem; /* Ajuste porcentual */
       
    }

    .Image_Return {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 490px) {
    .ProjectsPage_Title {
        width: 90%;
    }

  
}

@media (max-width: 380px) {
    .ProjectsPage_Title {
        width: 90%;
    }
    .ProjectsPage h1 {
        font-size: 2.4rem; /* Ajuste porcentual */
    }


}

@media (max-width: 300px) {


    .ProjectsPage h1 {
        font-size: 1.5rem; /* Ajuste porcentual */
    }
}



.Aclaracion {
    bottom: 0;
    margin-top: 40px;
    text-align: end;
    margin: 10px; 
    font-size: 10px;
    color: #fffdfd; 
  }